.btn-size {
  padding: 7px 30px;
}

.submit-btn {
  background-color: #00abae;
  color: #fff;
  border: 0;
}

.submit-btn:hover {
  background-color: rgba(0, 171, 174, 0.8);
  color: #fff;
}

.submit-btn:active {
  background-color: #00abae;
  color: #fff;
  border: 0;
}

.mirror-btn {
  color: #00abae;
  border: 1px solid #00abae;
}

.mirror-btn:hover {
  background-color: #00abae;
  color: #fff;
  border: 1px solid #00abae;
}

.add-btn {
  width: 115px;
  height: 32px;
  text-align: center;
  padding: 5px 0;
  color: #FFF;
  background-color: #00abae;
  border-radius: 25px;
  border: 0;
  outline: none;
  font-size: 1em;
}

.add-btn:hover {
  background-color: rgba(0, 171, 174, 0.8);
  color: #fff;
}

.nav-link.active {
  background-color: #00ABAE !important;
}

.nav-item a {
  text-decoration: none;
  color: #f0f0f0;
}

.nav-item a button {
  background-color: #00ABAE;
  padding: 7px 30px;
  margin: 0 1em;
  border: none;
}

.nav-item a button:hover {
  background-color: rgba(0, 171, 174, 0.8);
  color: #fff;
}

.form-control-navbar {
  height: 40px;
}

.card-primary:not(.card-outline)>.card-header {
  background-color: #fff;
  color: #212529;
}

.card-primary:not(.card-outline)>.card-header .btn-tool {
    color: #212529;
}

.card-primary:not(.card-outline)>.card-header .btn-tool:hover {
  color: rgba(33, 37, 41, 0.8);
}

.curriculum-nav-item {
  margin-right: 10px;
}

.curriculum-nav-item a {
  color: #fff;
}

.curriculum-nav-item .nav-link::after {
  content: '';
  position: absolute;
  left: 17px;
  bottom: 0;
  width: 82%;
  border-bottom: 2px solid #00abae;}

.curriculum-dropdown {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #00abae;
  padding: 10px;
  border-radius: 5px;
  left: 71px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.alert-danger {
  margin-bottom: -15px;
}

.urls, .posts {
  margin-left: 16px;
}

.contents {
  position: relative;
  padding-left: 10px;
}

.contents::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 3px;
  height: 20px;
  background-color: rgba(0, 171, 174, 0.8);
}

.contents::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: rgba(0, 171, 174, 0.8);
}

.modal-dialog {
  max-width: 800px;
  max-height: 400px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #00abae;
  background-color: #ddf2f3;
  border-color: #ddf2f3;
}

.page-link {
  color: #00abae;
}

.main-footer {
  text-align: center;
  background-color: #00abae;
  color: #fff;
}

/* 1200px以下の場合に表示 */
@media (max-width: 1200px) {
  .nav-item-responsive {
      display: none;
  }

  .col-sm-1 {
    width: 55px;
  }

  .col-sm-11 {
    width: calc(100% - 55px);
  }

  .main-footer {
      height: 70px;
      font-size: 0.8em;
  }

  .main-footer p {
      margin: 0 auto
  }

  .curriculum-nav-item:hover .curriculum-dropdown {
    display: block;
  }

  .myChart-responsive {
    width: 100% !important;
  }

  .iframely-embed-responsive {
    display: none;
  }
}

/* 600px以下の場合に表示 */
@media (max-width: 600px) {
  .submit-responsive {
    padding: 4px 15px;
    font-size: 0.8em;
    position: relative;
    left: -50px;
  }

  .delete-btn {
    position: relative;
    left: -30px;
  }
}