.pointer {
  cursor: pointer;
}

.btn-size {
  padding: 7px 30px;
}

.submit-btn {
  background-color: #00abae;
  color: #fff;
  border: 0;
}

.submit-btn:hover {
  background-color: rgba(0, 171, 174, 0.8);
  color: #fff;
}

.submit-btn:active {
  background-color: #00abae;
  color: #fff;
  border: 0;
}

.mirror-btn {
  color: #00abae;
  border: 1px solid #00abae;
}

.mirror-btn:hover {
  background-color: #00abae;
  color: #fff;
  border: 1px solid #00abae;
}

.add-btn {
  width: 115px;
  height: 32px;
  text-align: center;
  padding: 5px 0;
  color: #FFF;
  background-color: #00abae;
  border-radius: 25px;
  border: 0;
  outline: none;
  font-size: 1em;
  position: relative;
  bottom: 7px;
}

.add-btn:hover {
  background-color: rgba(0, 171, 174, 0.8);
  color: #fff;
}

.flag-btn {
  background-color: rgba(240, 240, 240, 0.6);
  border-radius: 10px;
  padding: 1px 20px;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
  border: 0px;
}

.flag-btn.active {
  background-color: rgba(220, 53, 69, 0.8);
  color: #fff;
}

.flag-btn:hover {
  background-color: rgba(220, 53, 69, 0.8);
  color: #fff;
}

.star-btn {
  width: 20px;
  height: 20px;
  border: 0px;
  cursor: pointer;
}

.option-btn {
  position: absolute;
  right: 30px;
  top: 18px;
  width: 20px;
  height: 20px;
  border: 0px;
  cursor: pointer;
}

.nav-link.active {
  background-color: #00ABAE !important;
}

.nav-item a {
  text-decoration: none;
  color: #f0f0f0;
}

.nav-item a button {
  background-color: #00ABAE;
  padding: 7px 30px;
  margin: 0 1em;
  border: none;
}

.nav-item a button:hover {
  background-color: rgba(0, 171, 174, 0.8);
  color: #fff;
}

.form-control-navbar {
  height: 40px;
}

.curriculum-nav-item {
  margin-right: 10px;
}

.curriculum-nav-item a {
  color: #fff;
}

.curriculum-nav-item .nav-link::after {
  content: '';
  position: absolute;
  left: 17px;
  bottom: 0;
  width: 82%;
  border-bottom: 2px solid #00abae;}

.curriculum-dropdown {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #00abae;
  padding: 10px;
  border-radius: 5px;
  left: 71px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.alert-danger {
  margin-bottom: -15px;
}

#totalElement {
  position: relative;
  bottom: 78%;
  margin-left: 64%;
  text-wrap: nowrap;
  background-color: white;
  font-size: 0.8em;
  color: rgba(33, 37, 41, 0.8);
  padding: 1px 16px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: -moz-fit-content;
  width: fit-content;
}

.card-container {
  height: 43px;
}

.card-primary:not(.card-outline)>.card-header {
  background-color: #fff;
  color: #212529;
}

.card-primary:not(.card-outline)>.card-header .btn-tool {
    color: #212529;
}

.card-primary:not(.card-outline)>.card-header .btn-tool:hover {
  color: rgba(33, 37, 41, 0.8);
}

.bookmark-card {
  position: relative;
  min-width: 60%;
}

.card-option {
  width: 100px;
  height: 100%;
  top: 0;
  right: 0;
  text-align: right;
  position: absolute;
  display: none;
}

.bookmark-card.toggle {
  width: calc(100% - 100px);
}

.bookmark-card.toggle .card-option {
  right: -100px;
  display: block;
}

.urls, .posts {
  margin-left: 16px;
}

.figcaption-contents {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
}

.figcaption-contents::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 3px;
  height: 20px;
  background-color: rgba(0, 171, 174, 0.8);
}

.figcaption-contents::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: rgba(0, 171, 174, 0.8);
}

.bookmark-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.bookmarks {
  transition: transform 0.3s, box-shadow 0.3s;
  color: rgba(33, 37, 41, 0.8);
  text-decoration: none;
}

.bookmarks:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: rgba(33, 37, 41, 0.8);
}

@media (min-width: 1600px) {
  .bookmark-block {
    min-width: calc(50% - 5px) !important;
    margin-right: 5px;
  }
}

.figure-area {
  width: 100%;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: calc(100% - 105px);
}

.img-container {
  position: absolute;
  width: 92px;
  height: 69px;
  overflow: hidden;
  border-radius: 10%;
  margin-left: auto;
  right: 12px;
  bottom: 11px;
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.img-container:hover {
  transform: scale(8);
  right: 322px;
  bottom: 50%;
}

.img-container:hover img {
  object-position: 0 100%;
}

.modal-dialog {
  max-width: 800px;
  max-height: 400px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #00abae;
  background-color: #ddf2f3;
  border-color: #ddf2f3;
}

.page-link {
  color: #00abae;
}

.main-footer {
  text-align: center;
  background-color: #00abae;
  color: #fff;
}

/* 1200px以下の場合に表示 */
@media (max-width: 1200px) {
  .nav-item-responsive {
      display: none;
  }

  .col-sm-1 {
    width: 55px;
  }

  .col-sm-11 {
    width: calc(100% - 55px);
  }

  .main-footer {
      height: 70px;
      font-size: 0.8em;
  }

  .main-footer p {
      margin: 0 auto
  }

  .curriculum-nav-item:hover .curriculum-dropdown {
    display: block;
  }

  .myChart-responsive {
    width: 100% !important;
  }

  .iframely-embed-responsive {
    display: none;
  }
}

/* 600px以下の場合に表示 */
@media (max-width: 600px) {
  #totalElement {
    bottom: 70%;
    margin-left: 39%;
  }

  .edit-form {
    text-wrap: nowrap;
  }

  .submit-responsive {
    padding: 4px 15px;
    position: relative;
    left: -38px;
  }

  .delete-btn {
    position: relative;
    left: -30px;
  }

  .card-body {
    padding: 1rem;
  }

  .figure-area {
    margin-left: 0 !important;
  }
}